@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    <script src="~/Scripts/perfsurf.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>

}
<h1>SignalR Demo!</h1>